$color: #005155 !global;
$char: b;
body{
    background: $color;

    p {
        font-size: 30px;
        @if $char == a {
            color: #FF0000;
        }#else{
            color: #00FF00;
        }
    }   

}

//TODAS LAS ANIMACIONES TIENEN QUE SER POR CSS, no por Javascript
// ---------------

